<aside class="col-12 col-md-12 col-xl-3">
    <div class="sidebar box shadow pb-0 sticky-column">
        <svg class="avatar avatar--180" viewBox="0 0 188 188">
            <g class="avatar__box">
                <image xlink:href="../assets/img/avatar-1.jpg" height="100%" width="100%" />
            </g>
        </svg>
        <div class="text-center">
            <h3 class="title title--h3 sidebar__user-name"><span class="weight--500">Felecia</span> Brown</h3>
            <div class="badge badge--dark">Creative Director</div>
            
            <!-- Social -->
            <div class="social">
                <a class="social__link" href="https://www.facebook.com/"><i class="font-icon icon-facebook"></i></a>
                <a class="social__link" href="https://www.behance.com/"><i class="font-icon icon-twitter"></i></a>
                <a class="social__link" href="https://www.linkedin.com/"><i class="font-icon icon-linkedin2"></i></a>
            </div>
        </div>
        
        <div class="sidebar__info box-inner">
            <ul class="contacts-block">
                <li class="contacts-block__item" data-toggle="tooltip" data-placement="top" title="Birthday">
                    <i class="font-icon icon-calendar"></i>March 12, 1995
                </li>
                <li class="contacts-block__item" data-toggle="tooltip" data-placement="top" title="Address">
                    <i class="font-icon icon-location"></i>Hong Kong, China
                </li>
                <li class="contacts-block__item" data-toggle="tooltip" data-placement="top" title="E-mail">
                    <a href="mailto:example@mail.com"><i class="font-icon icon-envelope"></i>example@mail.com</a>
                </li>
                <li class="contacts-block__item" data-toggle="tooltip" data-placement="top" title="Phone">
                    <i class="font-icon icon-phone"></i>+1 (070) 123-4567
                </li>
                <li class="contacts-block__item" data-toggle="tooltip" data-placement="top" title="Skype">
                    <a href="skype:skype-example"><i class="font-icon icon-skype"></i>Felecia_Brown</a>
                </li>
            </ul>
            
            <a class="btn" href="about.html#"><i class="font-icon icon-download"></i> Download CV</a>
        </div>
    </div>	
</aside>
